<div class="row">
            
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PatientName</th>
                                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">DoctorName</th>

            </tr>
        </thead>            

        <tbody>
            @foreach (var item in Model){                <tr class="table-light">
                    <th scope="row">@item.Id</th>
                    <td>@item.PatientName</td>
                <td>@item.date</td>
                    <td>@item.Time</td>
                    <td>@item.DoctorName</td>

                </tr>
            }
            </tbody>

    </table>
 
</div>
